.app-shell {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-dark);
}

.page-content-login-register {
  font-size: 1rem;
  display:flex;
  justify-content: space-between;
  min-height: 100vh;
}

.page-content-login-register .left-panel {
  padding: 32px;
}

.page-content-login-register .left-panel .title {
  font-size: 70px;
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.page-content-login-register .right-panel {
  background-color: var(--color-mid);
  width: 700px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-header {
  font-size: 70px;
  margin-top: 0;
  color: black;
  width: 500px;
  margin: 0 auto;
}

.default-button {
  color: white;
  background-color: var(--color-dark);
  width: 360px;
  height: 50px;
  border-radius: 25px;
  border:none;
  font-size: 24px;
  cursor: pointer;
}
